
.booking_container {
    display: grid;
    overflow: hidden;
    grid-template-columns: 2fr 1fr;
    margin-top: 5rem;
    column-gap: 30px;
    max-width: 85%;
    width: 85%;
    margin: 6em auto;
    .leaflet-top {
        top: 45px;
        left: -8px
    }
}

div.booking_list {
    border-top-color: #ff8c41 !important;
    border-top: solid 3px;
    button[class~="active"] {
        color: #ff8c41;
    }
}

.back {
    animation-name: fadeStepBack;
    animation-direction: reverse;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
}
.next {
    animation-name: fadeStepNext;
    animation-direction: normal;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
}

@keyframes fadeStepNext {
    0% { 
        filter: opacity(0)
    }
    33% {
        filter: opacity(0.4)        
    }
    66% { 
        filter: opacity(0.7)
    }
    100% { 
        filter: opacity(1)
    }
}
@keyframes fadeStepBack {
    0% { 
        filter: opacity(1)
    }
    33% {
        filter: opacity(0.7)
    }
    66% { 
        filter: opacity(0.4)
    }
    100% { 
        filter: opacity(0)
    }
}

@media (max-width: 650px) {
    .booking_container {
        display: block;
        grid-template-columns: unset;
        max-width: 100%;
        width: 100%;
        padding: 2px;
    }
    .total p.total__gasoline {
        text-align: unset;
    }
    .total .total__cost {
        padding: 14px 10px 7px 0;
    }
    .leaflet-container {
        .leaflet-control-geosearch.bar {
            width: 100%;
        }
    }
}