.booking_history_items {
    list-style: none;
    // margin: 0 auto;
    padding: 0;
}

.booking_history_items__item {
    padding-bottom: 16px;
    border-bottom: 1px solid #e8e9ec;
    margin: 16px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: baseline;
    color: #6d7688;
    h3, strong {
        color: #1a2b49;
    }
    h3 {
        margin: 5px 0 0 0;
    }
    .history_item__body {
        width: 100%;
        .history_item_body__content {
            display: flex;
            p {
                margin-bottom: 0;
            }
            p > span {
                display: block;
            }
            strong {
                margin: 0 15px 0 auto;
                align-self: flex-end;
            }
        }
    }
}