.auth-form {
    width: 30rem;
    max-width: 80%;
    margin: 2rem auto;
    text-align: center;
    .email {
        padding: 10px;
        box-sizing: initial;
    }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  -webkit-text-stroke-width: medium;
  -webkit-appearance: none; 
  margin: 0; 
}

.auth-control {
    text-align: center;
    border: 1px solid rgb(247, 244, 244);
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.5);
    background-color: rgba(250, 250, 252, 0.6196078431372549);
    padding: 2rem;
    margin: 15% auto;
    width: 36rem;
    z-index: 3;
    max-width: 80%;
    border-radius: 10px;
}

.form-action {
    width: 100%;
    display: flex;
    padding-top: 20px;
    padding: 10px;
    box-sizing: initial;
    justify-content: space-between;
    button {
        margin: 0;
    }
}
.header {
    font-size: 48px;
    color: #000;
}

$border: rgb(228, 236, 253);
$success: #69DD95;
$textColor: #797C86;
$placeholderColor: #C7C8CC;
$inputBorder: 0;
$inputShadow: 0 4px 12px -2px rgba(#6B75A1, .16);

.email {
    position: relative;
    width: 100%;
    input {
        outline: none;
        width: 100%;
        font-size: 16px;
        border: $inputBorder;
        border-radius: 4px;
        line-height: 24px;
        padding: 8px 5px 8px 14px;
        box-shadow: $inputShadow;
        color: $textColor;
        &::-webkit-input-placeholder {
            color: $placeholderColor;
        }
        &:-moz-placeholder {
            color: $placeholderColor;
        }
        &::-moz-placeholder {
            color: $placeholderColor;
        }
        &:-ms-input-placeholder {
            color: $placeholderColor;
        }
    }
    svg {
        position: absolute;
        z-index: 1;
        right: 14px;
        top: 50%;
        width: 20px;
        height: 20px;
        fill: none;
        margin: -10px 5px 0 0;
        polyline,
        path {
            stroke: $border;
            stroke-width: 1.4;
            stroke-linecap: round;
            stroke-linejoin: round;
            transition: stroke .3s ease 0s;
        }
        path {
            stroke-dasharray: 64;
            stroke-dashoffset: 127;
            transition: stroke-dasharray .8s ease .8s, stroke-dashoffset .8s ease .5s;
        }
        polyline {
            stroke-dasharray: 18;
            stroke-dashoffset: 18;
            transition: stroke-dashoffset .5s ease 0s;
        }
    }
    &.email__success {
        svg {
            polyline,
            path {
                stroke: $success;
            }
            path {
                stroke-dasharray: 46;
                stroke-dashoffset: 150;
                transition: stroke-dasharray .6s ease 0s, stroke-dashoffset .8s ease .3s, stroke .3s ease .6s;
            }
            polyline {
                stroke-dashoffset: 0;
                transition: stroke-dashoffset .5s ease .6s, stroke .3s ease .6s;
            }
        }
    }
}

// Center
.auth-container {
    background-image: url(../../shared/assets/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    background-size: cover;
    z-index: 1;
    min-height: 100vh;
    color: #ADAFB6;
    display: flex;
    justify-content: center;
    align-items: center;
    .dribbble {
        position: fixed;
        display: block;
        right: 20px;
        bottom: 20px;
        opacity: .5;
        transition: all .4s ease;
        &:hover {
            opacity: 1;
        }
        img {
            display: block;
            height: 36px;
        }
    }
}

.invalid_auth {
    outline: solid 2px red;
    outline-offset: -11px;
}

@media (min-width: 1400px) {
    .auth-form {
        .form-action {
            button {
                font-size: 1.7em;
                font-weight: unset;
            }
        }
    }
}

@media (max-width: 768px) {
    .form-action {
        box-sizing: initial;
        justify-content: flex-end;
        button {
            margin-left: 10px;
        }
    }
}

@media (max-width: 425px) {
    .auth-control {
        max-width: 95%;
        padding: 1em;
    }
    .auth-form {
        max-width: 100%;
    }
    .email {
        width: initial;
    }
    .form-action {
        box-sizing: border-box;
        button {
            margin: 0;
            max-width: 150px;
            font-size: .8rem;
            &:first-child {
                margin-right: 5px;
            }
        }
    }
}