.billing_details {
    border: none;
    margin: 12px 0 0 0;
    padding: 0;
    legend {
        font-size: 1.5rem;
        font-weight: 500;
    }
    .form-row {
        position: relative;
        width: 100%;
        & > *:not(span) {
            display: inline-block;
        }
        datalist {
            height: 0;
        }
        label {
            font-size: 1rem;
            line-height: 2.4rem;
            font-weight: 500;
            min-width: 8em;
        }
        input {
            width: 60%;
            min-width: 300px;
            vertical-align: middle;
            margin: 0;
            height: 40px;
            padding-left: 8px;
            font-size: inherit;
            border: 2px solid #c6c8d0;
            border-radius: 2px;
            opacity: 1;
            outline: none;
            background-color: #fff;
            transition: border .16s ease-out;
            -webkit-appearance: none;
            &:focus {
                border: 2px solid #1593ff;
            }
        }
    }
}

.validation_success {
    position: static;
    padding-right: 14px;
    margin-left: -26px;
    color: green;
    &::after {
        box-sizing: border-box;
        content: "\2713";
    }
}

.validation_error {
    display: block;
    background: none;
    width: 60%;
    margin-top: 5px;
    margin-left: 127px;
    color: #ff475e;
}
.validate:invalid {
    border-color: #ff475e !important;
}

@media (max-width: 650px) {
        .billing_details .form-row input {
            width: 100%;
        }
        .form-row {
            &:last-child {
                margin-top: -14px;
            }
        }
}