.history_list {
    margin-top: 30px;
    max-height: auto;
    min-height: 20vh;
    p {
        color: rgb(109, 118, 136)
    }
    div {
        padding-bottom: 10px
    }
}
.history_total {
    color: rgb(0, 150, 136);
}
