* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  position: fixed;
  top: calc((100% - 650px) / 2);
  left: calc((100% - 500px) / 2);
  -webkit-animation-name: appearance;
          animation-name: appearance;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  padding: 1em;
  max-width: 1150px;
  margin: 0 auto;
  z-index: 6;
}

@-webkit-keyframes appearance {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes appearance {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.wrapper {
  -webkit-box-shadow: 2px 3px 20px 5px #55616d;
          box-shadow: 2px 3px 20px 5px #55616d;
  background: lightblue;
}

.contact-info {
  padding: 1em 0;
  margin: 0 auto;
  text-align: center;
}

.contact-info h1, .contact-info ul {
  margin-top: 0;
}

.contact-info .contact-info__body ul {
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

/* FORM STYLES */
.form {
  background: lightseagreen;
  padding: 1em;
}

.form .form__header {
  text-align: center;
}

.form .form__header h3 {
  margin-top: 0;
}

.form .form__body form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 1fr))[2];
      grid-template-columns: repeat(2, minmax(100px, 1fr));
  grid-gap: 20px;
}

.form .form__body form label {
  display: block;
}

.form .form__body form input, .form .form__body form textarea, .form .form__body form select, .form .form__body form button {
  width: 100%;
  border: none;
  border-radius: 3px;
  padding: 0.4rem;
  text-transform: uppercase;
}

.form .form__body form .full {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.form .form__body form .form__button {
  text-align: center;
}

.form .form__body form .form__button button {
  height: 40px;
  background: lightblue;
  border: none;
}

.form .form__body form .form__button button:focus, .form .form__body form .form__button button:hover {
  background: #6b78b3;
  color: #fff;
  outline: 0;
  -webkit-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

/* LARGE SCREENS */
@media (min-width: 1150px) {
  .container {
    position: fixed;
    height: auto;
    top: calc((100% - 500px) / 2);
    left: calc((100% - 733px) / 2);
  }
  .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
  }
  .wrapper > * {
    padding: 2em;
  }
  .contact-info {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
/*# sourceMappingURL=FeedBack.css.map */