$withL: 1150px;
$withM: 700px;
$heightL: auto;
$heightM: auto;
$theme-colors: (
  "success": #28a745,
  "info": #17a2b8,
  "warning": #ffc107,
);

.container {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    position: fixed;
    top: calc((100% - 636px) / 2); // half of width
    left: calc((100% - 408px) / 2); // half of height
    animation-name: appearance;
    animation-duration: 1s;
    padding: 1em;
    max-width: $withL;
    margin: 0 auto;
    z-index: 6;
}

@keyframes appearance {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.wrapper {
    box-shadow: 2px 3px 20px 5px rgb(85, 97, 109);
    background: lightblue;
}

.contact-info {
    padding: 1em 0;
    margin: 0 auto;
    text-align: center;
    h1, ul {
        margin-top: 0;
    }
    .contact-info__body {
        ul {
            margin-bottom: 0;
            padding: 0;
            list-style: none;
        }
    }
}


/* FORM STYLES */
.form {
    background: lightseagreen;
    padding: 1em;
    .form__header {
        text-align: center;
        h3 {
            margin-top: 0;
        }
    }
    .form__body {
        form {
            display: grid;
            grid-template-columns: repeat(2, minmax(100px, 1fr));
            grid-gap: 20px;
            label {
                display: block;
            }
            input, textarea, select, button {
                width: 100%;
                border: none;
                border-radius: 3px;
                padding: 0.4rem;
                text-transform: uppercase;
            }
            .full {
                grid-column: 1 / 3;
            }
            .form__button {
                text-align: center;
                button {
                    height: 40px;
                    background: lightblue;
                    border: none;
                    &:focus,&:hover {
                        background: rgb(107, 120, 179);
                        color: #fff;
                        outline: 0;
                        transition: background-color 2s ease-out;
                    }
                }
            }
        }
    }
}

/* LARGE SCREENS */
@media(min-width: 1150px) {
    .container {
        position: fixed;
        height: auto;
        top: calc((100% - 500px) / 2); // half of height
        left: calc((100% - 800px) / 2); // half of width
    }
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
        > * {
            padding: 2em;
        }
    }
    .contact-info {
        justify-self: center;
        align-self: center;
    }
}