.total.bill_details_article {
    .total__cost span {
        font-weight: bold;
    }
    li {
        border-top: 1px solid #e8e9ec;
        border-bottom: none;
        padding-top: 5px;
    }
    text-align: initial;
}

.total {
    background-color: #fff;
    height: fit-content;
    text-align: center;
    padding: 0 15px 15px 15px;
    border: 1px solid #c6c8d0;
    border-top: 3px solid #ffd80c;
    .total__cost {
        display: flex;
        justify-content: space-between;
        padding: 14px 0 7px 0;
        strong {
            letter-spacing: .03em;
        }
    }
    p.total__gasoline {
        font-weight: 700;
        margin: -11px 0 11px;
        font-size: .9rem;
        line-height: 2rem;
        color: #00aa71;
        text-align: right;
    }
    
    .total__buttons > * {
        width: 100%;
        box-shadow: none;
    }
    .total__buttons {
        .checkout_btn {
            font-weight: normal;
            color: #000;
            background: rgb(255, 216, 12);
            border-color: rgb(255, 216, 12);
            border-radius: 5rem;
            border-style: solid;
            padding: .4rem 1.5rem;
            box-shadow: none;
            &:disabled {
                filter: sepia(1);
            }
            &:not([disabled]):hover {
                background: #ecd20b;
                border-color: #ecd20b;
            }
        }
        .see_more {
            display: block;
            color: #ffd80c;
            margin-top: 14px;
            text-align: center;
            border-width: thin;
            text-overflow: initial;
            white-space: normal;
            background-color: transparent;
            &:hover {
                background: rgb(255, 216, 12);
                border-color: rgb(255, 216, 12);
                box-shadow: none;
                color: black;
            }
        }
    }
}

.total-changed {
    color: rgb(247, 53, 53);
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}