@import "node_modules/react-image-gallery/styles/scss/image-gallery.scss";
@import url('https://unpkg.com/leaflet-geosearch@2.6.0/assets/css/leaflet.css');
@import url('https://fonts.googleapis.com/css?family=El+Messiri&display=swap');

body {
    font-family: "GT Eesti",Arial,sans-serif;
    font-kerning: normal;
    -webkit-font-smoothing: antialiased;
    color: #1a2b49;
}

// body {
    // background-color: rgba(255,255,255,.9);
    // &:before {
    //     // Pseudo element will only render if it has a content property
    //     content: '';
    //     // Overlay should occupy the full width and height of parent image container
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     bottom: 0;
    //     left: 0;
    //     // Overlay background-color
    //     background-color: #000000;
    //     // Overlay opacity, else overlay won't be transparent and show the image
    //     opacity: 0.6;
    // }
// }

.form-control label,
.form-control input,
.form-control textarea,
.form-control select {
    width: 97%;
    margin: 0 auto;
    display: block;
}

.form-control label {
    font-weight: bold;
    em {
        font-weight: normal;
        font-size: 0.8rem;
    }
}

.form-control {
    margin-bottom: 1rem;
}

.form-action button,
.btn {
    font: inherit;
    background-color: white;
    color: rgba(0, 0, 0, 0.753);
    font-weight: bold;
    box-shadow: 1px 1px 2px rgb(0, 0, 1);
    border: none;
    padding: 0.2rem 1rem;
    border-radius: 2px;
    cursor: pointer;
}

.form-action button:hover,
.form-action button:active,
.btn:hover,
.btn:active {
    background: rgb(204, 202, 202);
    box-shadow: 2px 2px 2px rgb(45, 46, 46);
}

button:active {
    outline: none;
    border: none;
}
    
button:focus {outline:0;}

.step_buttons {
    text-align: center;
}

.map-ref {
    width: 97%;
    margin: 0 auto;
    display: block;
}

a {
    text-decoration: none;
}