$modal-width: 90%;
$modal-height: auto;

.modal-map {
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.25);
    position: fixed;
    top: 10vh;
    left: 5%;
    right: 5%;
    z-index: 100;
    width: $modal-width;
    height: $modal-height;
    .__close {
            position: fixed;
            background-color: transparent;
            right: 1.5em;
            display: inline;
            top: 2.3em;
            &:hover {
                animation: rotate 20s linear infinite;
            }
            &:hover::after {
                font-size: 2.3em;
                color: rgb(226, 220, 220);
            }
            &::after {
                content: '\00d7';
                color: rgba(178, 65, 65, 0.884);
                font-weight: bold;
                font-size: 2em;
            }
    }
}

@keyframes rotate {
  100% {-webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
    transform: rotate(360deg);}
}

@media (min-with: 768px) {
    .modal {
        width: 30rem;
        left: calc((100% - 30rem) / 2);
    }
}
