.events-control {
    text-align: center;
    border: 1px solid rgb(247, 244, 244);
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.5);
    padding: 2rem;
    margin: 2rem auto;
    width: 36rem;
    max-width: 80%;
    background-color: #fff;
    color: #000;
}

.events-container {
    padding-top: 2em;
    background-color: rgb(242, 242, 242);
    height: auto;
    min-height: 100vh;
    overflow: inherit;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    ::-webkit-scrollbar { width: 0 !important }
}

.events-control input {
    width: 95%;
    display: block;
    margin: 5px auto
}

.events-control p {
    font-size: 1.3rem
}

.sticky_btn {
    position: sticky;
    top: 1%;
    width: fit-content;
    left: 90%;
    z-index: 4;
}