.file {
  display: grid;
  position: absolute;
  top: 5rem;
  left: 0.5rem;
  /* padding: 20px; */
  /* width: 5%; */
  /* margin: 10px; */
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  &__img {
    width: 150px;
    height: 150px;
  }
  &__input {
    display: none;
  }
  &__upload {
    display: none;
  }
  &__label {
    display: inline-block;
    margin-top: 0.4rem;
    cursor: pointer;

    i {
      color: rgba(255, 255, 255, 0.3411764705882353);
      font-size: 1.7rem;
      &:hover {
        color: rgb(255, 251, 251);
        transform: scale(1.1);
      }
    }
  }
}

.file > button {
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.3411764705882353);
  padding: 0;
  font-size: 1.7em;
  cursor: pointer;

  &:hover {
    color: rgb(255, 251, 251);
    transform: scale(1.1);
  }
  &:focus {
    outline:0;
  }
}
