$modalHeight: auto !global;

.modal {
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.25);
    position: absolute;
    top: 8vh;
    left: 5%;
    right: 5%;
    width: 90%;
    z-index: 100;
    height: auto;
    margin-bottom: 15px;
}

.modal__header {
    padding: 1rem;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    h1 {
        margin: 0 auto 0 .4em;
        font-size: 1.1rem;
    }
    span {
        font-size: .8em;
    }
    a[href="# "] {
        color: rgb(36, 36, 36);
        background-color: #ffd80c;
        &:hover {
            background-color: #ffffff;
        }
    }
    & > * + *:not(.modal-map):not(.backdrop) {
        margin-left: 1em;
        padding: .5em;
        border-radius: 4px;
        box-shadow: 1px 1px 6px 0px rgb(93, 93, 93);
    }
}

.modal__actions {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0px;
    button.btn {
        margin-right: 10px;
    }
}

// dialog {
//     position: fixed;
//     width: 80%;
//     padding: 0;
//     border: none;
//     &::backdrop {
//         background: rgba(66, 66, 66, 0.534);
//     }
// }

@media (max-width: 768px) {
    .backdrop {
        display: none;
    }
    .main-content > .events-container {
        height: 60vh;
        overflow: scroll;
    }
    .modal {
        width: 100%;
        top: 0;
        left: unset;
        right: unset;
        // left: calc((100% - 30rem) / 2);
    }
    .tour-container .modal__footer .contact-host {
        display: grid;
        grid-template-columns: unset;
        grid-template-rows: unset;
        -webkit-align-items: unset;
        align-items: unset;
    }
}

@media (max-width: 950px) {
    .modal__header {
        h1 {
            font-size: 1em;
        }
        span {
            font-size: .7em;
        }
    }
}